# Godot-specific ignores
.godot/
*.import
export_presets.godot

# .NET/C# ignores
bin/
obj/
*.sln
*.csproj
*.slnx
!LastLight.GodotClient.csproj
!LastLight.GodotClient.sln

# OS-specific ignores
.DS_Store

# Temporary/Log files
*.log
client_out.log
server_out.log
